/.env
/nohup.out
/token.json
/credentials.json
/events.json
/bk.cred
/vault
/badi-events-backend
/test2.go
/test-u-marsh.go
/tmp-events.json
/jsontest.go
/read-json.go
/oauth2/
/client_secret_1012364623452-1ogm6h88dog7mu9k69bsl60p9b8flamj.apps.googleusercontent.com.json
